* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.398)),
    url(img/railway-station-3714297_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 2rem;
  height: 100vh;
}

.wrapper {
  /* width: 80%;
  margin: 0 auto; */
  text-align: center;
  align-items: center;

  color: rgb(242, 242, 241);
}

.wrapper h1,
h2 {
  margin-bottom: 40px;
  margin-top: 50px;
}

button {
  width: 150px;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 3px;
}
